#indexContainer {
    width: 90%;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
}

#indexLineText {
    display: flex;
    margin-bottom: 2vw;
}

#indexLine {
    width: 6px;
    background-color: white;
    margin-right: 1vw;
    border-radius: 10px;
}

#indexText {
    color: white;
    width: 95%;
    font-size: 1vw;
}

@media (orientation: portrait) {
    
    #indexLineText {
        margin-top: 2vh;
    }

    #indexLine {
        display: none;
    }

    #indexText {
        font-size: 4vw;
    }
}