h2 {
  color: white;
  margin-bottom: 1vw;
}

#SSNContainer {
  margin-left: 4vw;
  overflow-y: scroll;
}

#SSNContainer p {
  color: white;
  width: 95%;
}

#SSNContainer a {
  color: white;
}

#SSNText {
  margin-bottom: 5vw;
}

.andereStam {
  display: flex;
  flex-direction: row;
  margin: 2vw 0;
  width: 95%;
}

.andereStamReversed {
  display: flex;
  flex-direction: row-reverse;
  margin: 2vw 0;
  width: 95%;
}

.andereStam img {
  height: 10vw;
  margin-right: 1vw;
  border: solid 3px white;
  background-color: white;
}

.andereStamReversed img {
  height: 10vw;
  margin-right: 1vw;
  border: solid 3px white;
  background-color: white;
}

#socialsContainer {
  margin-top: 2vw;
}

@media (orientation: portrait) {
  .andereStam {
    flex-direction: column;
    margin-bottom: 10vh;
  }

  .andereStam img {
    height: 40vh;
    margin-bottom: 2vh;
  }

  .andereStamReversed {
    flex-direction: column;
    margin-bottom: 10vh;
  }

  .andereStamReversed img {
    height: 40vh;
    margin-bottom: 2vh;
  }
}
