    /* Overall settings */
    *{
        color:black;
        padding:0px;
        margin:0px;
    	text-decoration:none;
        font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
        box-sizing:border-box;
    }
    title{
        display:none;
    }
    h1{
        color: white;
        line-height: 7vw;
        font-size: 3vw;
        text-align: center;
    }
    h2{
        text-align: center;
    }

    /* Basic settings for all screen sizes ****************************************************/
    /* START Fixed part*/
    .Menu {/* Fixed menu on top right corner */
        width: 18vw;
        height: auto;
        right: 0;
        top: 0;
        position: fixed;
        background-color: rgba(167, 63, 45, 0.8);
        z-index: 2;
    }
    .Menu a {/* Fixed menu on top right corner */
        display: block;
        height: 3vw;
        width: 100%; 
        line-height: 3vw;
        text-align: center;
        font-size: 1.7vw;

        border-bottom: 0.2vw solid #7d2e20;
        color: white;
        font-weight: bold;
    }
    .Menu a:hover{ /* Fixed menu on top right corner */
        background-color: rgba(167, 63, 45, 0.5);
    }
    .Menu a:active{ /* Fixed menu on top right corner */
        background-color: rgba(167, 63, 45, 0.9);
        position: relative;
        top: 1px
    }
    .Menu a.active{ /* Fixed menu on top right corner */
        background-color: rgba(167, 63, 45, 1);
    }
    /*----------------------------------------------------*/
    #Slideshow { /* Slideshow on top of each page */
        background-color: pink;
        width: 100vw;
        height: 20vw;
        top: 0;
        position: fixed;
        z-index: 0;
    }

    /* END Fixed part*/
    /* START Header part*/
    /*----------------------------------------------------*/
    #Header { /* Parent header for the logo and title */
        background-color: transparent;
        width: 60vw;
        height: 8vw;
        z-index: 4;
    }
    .Head_Pos_Fix{ /* Fix the parent header until certain scroll */
        top: 0;
        position: fixed;
    }
    .Head_Pos_Rel{ /* Set margin of the parent header from certain scroll */
        margin-top: 15vw;
        position:  relative;
    }
    /*----------------------------------------------------*/
    #Logo { /* Logo on top left corner */
        width: 10%;
        height: 8vw;
        padding: 0.5vw 0.5vw 1.5vw 0.5vw;
        float: left;
        position: relative;
    }
    #Logo img{ /* Logo on top left corner */
        height: 100%;
        width: auto;

    }
    /*----------------------------------------------------*/
    #Title { /* Title on top */
        position: relative;
        height: 8vw;
        width: 90%;
        float: right;
        line-height: 7vw;
        text-align: center;
        font-size: 3vw;
        color: white;
    }
    /*----------------------------------------------------*/
    /* END Header part*/
    /* START Content part*/
    #Content {  /* Parent of the entire content section */
        height: auto;
        background-color: white;
        background-image: linear-gradient(to bottom right, #e8e6e6, white);
        position: relative;
        overflow: auto;
        z-index: 1;
        padding: 5vw 0vw 5vw 5vw;
    }
    .Con_Marg_Fix{ /* Add a top margin to the content section until certain scroll*/
        margin-top: 25vw;
    }
    .Con_Marg_Rel{ /* Add a smaller top margin to the content section from certain scroll*/
        margin-top: 2vw; 
    }
    /*----------------------------------------------------*/
    #Information{ /* Section with all the main text */
        float: left;
        position: relative;
        font-size: 1.5vw;
        width: 65vw;
    }
    .Text_link{ /* Decoration of links in main text (<a> tags)*/
        text-decoration: underline;
    }
    .myButton { /* Button in main text */
        background-color:#a73f2d;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size: 1.5vw;
        font-weight:bold;
        padding:7px 23px;
        text-decoration:none;
        text-shadow:0px -1px 0px #7a2a1d;
        }
    .myButton:hover { /* Button in main text */
        background-color:#b34332;
    }
    .myButton:active { /* Button in main text */
        position:relative;
        top:1px;
    }
    .Groepsfoto{ /* Scale foto's in main text */
        width: 40vw;
        margin-left: 10vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    /*----------------------------------------------------*/
    #Socials{ /* Social media links at right side of page */
        position: relative;
        float: right;
        width: 15vw;
    }
    .Icon{ /* Scale social media icons*/
        vertical-align: middle;
        margin: 1vw;
        width: 3vw;
    }
    /*----------------------------------------------------*/

    /* Tablet settings ********************************************************************/
    @media only screen and (max-width: 800px){
    /* START Fixed part*/

    /* END Fixed part*/
    /* START Header part*/

    /* END Header part*/
    /* START Content part*/

    /* END Content part*/

    /* Phone settings ***************************************************************************/
    @media only screen and (max-width: 500px){
    /* START Fixed part*/
    
    /* END Fixed part*/
    /* START Header part*/

    /* END Header part*/
    /* START Content part*/

    /* END Content part*/
    /* Phone settings */
     